baseURL = "https://yanbo92.github.io/"
title = "茅测顿开"
paginate = 5
theme = "hugo-PaperMod"
enableRobotsTXT = true
buildDrafts = false
buildFuture = false
buildExpired = false
pygmentsUseClasses = true

[minify]
disableXML = true

[params]
env = "production"
title = "茅测顿开"
description = "这里住着一位测试开发工程师"
keywords = [ "测试开发", "软件测试", "Python" ]
author = "yanbo92"
images = [ "<link or path of image for opengraph, twitter-cards>" ]
DateFormat = "January 2, 2006"
defaultTheme = "light"
disableThemeToggle = false
ShowReadingTime = false
ShowShareButtons = false
ShowPostNavLinks = true
ShowBreadCrumbs = true
ShowCodeCopyButtons = true
disableSpecial1stPost = false
disableScrollToTop = false
comments = false
hidemeta = false
hideSummary = false
showtoc = false
tocopen = false

  [params.label]
  text = "首页"
  iconHeight = 35

  [params.profileMode]
  enabled = false
  title = "ExampleSite"
  subtitle = "This is subtitle"
  imageUrl = "<img location>"
  imageWidth = 120
  imageHeight = 120
  imageTitle = "my image"

    [[params.profileMode.buttons]]
    name = "Posts"
    url = "posts"

    [[params.profileMode.buttons]]
    name = "Tags"
    url = "tags"

  [params.homeInfoParams]
  Title = "茅测顿开 \U0001f6d6"
  Content = "这里住着一位测试开发工程师"


  [params.cover]
  hidden = false
  hiddenInList = true
  hiddenInSingle = true

  [params.editPost]
  URL = "https://github.com/yanbo92/yanbo92.github.io/tree/master/content"
  Text = "修改建议"
  appendFilePath = true

  [params.fuseOpts]
  isCaseSensitive = false
  shouldSort = true
  location = 0
  distance = 1_000
  threshold = 0.4
  minMatchCharLength = 0
  keys = [ "title", "permalink", "summary", "content" ]

[outputs]
home = [ "HTML", "RSS", "JSON" ]

[permalinks]
posts = "/:filename"
  
[[menu.main]]
identifier = "categories"
name = "分类"
url = "/categories/"
weight = 10

[[menu.main]]
identifier = "tags"
name = "标签"
url = "/tags/"
weight = 20

[[menu.main]]
identifier = "search"
name = "搜索"
url = "/search/"
weight = 30

[[menu.main]]
identifier = "github"
name = "Github"
url = "https://github.com/yanbo92"
weight = 40
